
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: Helvetica Neue, Segoe UI, sans-serif;}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'),
         url('../fonts/Poppins-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf'),
         url('../fonts/Poppins-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf'),
         url('../fonts/Poppins-Light.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf'),
         url('../fonts/Poppins-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
         url('../fonts/Poppins-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'lineto-circular-pro-book';
    src: url('../fonts/lineto-circular-pro-book.ttf'),
         url('../fonts/lineto-circular-pro-book.ttf');
        font-weight: normal;
        font-style: normal;
}


.bgheader_bgcolor {
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    /*background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}
.logo_leftbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.logo_leftbox img {
    width: 155px;
}
.logout_rightbox {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: right;
}
.logout_rightbox a {
    display: inline-block;
}
.logout_rightbox h4 {
    margin: 0px;
    color: #000;
    padding-top: 13px;
    text-align: right;
    font-size: 16px;
    font-family: 'Poppins-Medium';
}
.parettow_coverbox{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}
.left_paretboxpart{
    display: inline-block;
    width: 20%;
    float: left;
    background: #FDFDFD;
    border-right: 1px solid #F7F7F7;
}
.innercategories {
    display: inline-block;
    width: 100%;
}
.innercategories ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.innercategories ul li {
    display: inline-block;
    width: 100%;
}
.activelist {
    width: 85% !important;
    border-radius: 0px 26px 26px 0px;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 )
}
.innercategories ul li a {
    display: inline-block;
    font-family: 'lineto-circular-pro-book';
    font-size: 18px;
    color: #000;
    padding-left: 27px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.activelist a {
    color: #fff !important;
}
.right_paddingboxpart {
    display: inline-block;
    width: 80%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
}
.centr_paretboxpart {
    display: inline-block;
    width: 65%;
    float: left;
}
.right_paretboxpart {
    display: inline-block;
    width: 28%;
    float: left;
    margin-left: 40px;
}
.signeup_topbox {
    display: inline-block;
    width: 100%;
}
.signeup_lefttextbox {
    display: inline-block;
    width: 50%;
    float: left;
}
.signeup_lefttextbox p {
    margin: 0px;
    font-size: 20px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'lineto-circular-pro-book';
}
.date_textboxpart {
    display: inline-block;
    width: 50%;
    float: left;
    position: relative;
}
.date_textboxpart img {
    width: 14px;
    position: absolute;
    left: 40px;
    top: 8px;
}
.date_textboxpart input {
    margin: 0px;
    font-size: 15px;
    color: #4D4F5C;
    font-family: 'Poppins-Light';
    border: 1px solid #DEE2EC;
    border-radius: 17px;
    padding: 5px 13px 5px 5px;
    text-align: right;
    width: 92%;
    float: right;
}
.signeup_innerborderbox {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #F1F1F1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 48px;
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
}
.total_usersdetlis {
    display: inline-block;
    width: 100%;
    border: 1px solid #F1F1F1;
    margin-bottom: 20px;
}
.total_usersdetlis ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.total_usersdetlis ul li {
    display: inline-block;
    width: 33.33%;
    float: left;
}
.total_usersdetlis ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.total_usersdetlis ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Poppins-Medium';
}
.total_usersdetlis ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Poppins-Regular';
}
.deviceandcity_paretpart {
    display: inline-block;
    width: 100%;
}
.device_childbox {
    display: inline-block;
    width: 30%;
    float: left;
    border: 1px solid #EAEAEA;
    padding-top: 8px;
    padding-bottom: 90px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 18px;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.bordersetnone {
    border-bottom: 0px;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.citycategory_box {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #F1F1F1;
}
.leftcity_textbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.leftcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #43425D;
    font-family: 'Poppins-Regular';
}
.rightcity_textbox {
    display: inline-block;
    width: 20%;
    float: left;
}
.rightcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #A6A7AD;
    font-family: 'Poppins-Regular';
}
.lifetime_titaltext {
    display: inline-block;
    width: 100%;
}
.lifetime_titaltext p {
    margin: 0px;
    font-size: 18px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'lineto-circular-pro-book';
}
.verified_detlisbox {
    display: inline-block;
    width: 100%;
    padding-top: 24px;
}
.verified_detlisbox ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.verified_detlisbox ul li {
    display: inline-block;
    width: 100%;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.verified_detlisbox ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.verified_detlisbox ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Poppins-Medium';
}
.verified_detlisbox ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Poppins-Medium';
}

/**deta table.css**/
.users_datatablebox table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;
    border: 1px solid #f1f1f1;
}
.users_datatablebox .details-table {
  width            : 100%;
  background-color : #FFF;
  margin           : 5px;
} 
.users_datatablebox .title {
    font-weight : bold;
    width: 100px;
}
.users_datatablebox .iconSettings {
  margin-top    : 5px;
  margin-bottom : 10px;
  font-size     : 12px;
  position      : relative;
  top           : 1px;
  display       : inline-block;
  font-family   : 'Glyphicons Halflings';
  font-style    : normal;
  font-weight   : 400;
  line-height   : 1;
  -webkit-font-smoothing : antialiased;
}
.users_datatablebox table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 0px solid #111;
}
.users_datatablebox .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.users_datatablebox td.details-control::after {
    content: 'view';
    cursor: pointer;    
    color: #A20871;
}
.users_datatablebox tr.shown td.details-control::after {
    content: 'close';
}
.users_datatablebox .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 2.5;
    vertical-align: top;    
    border: 1px solid #f1f1f1;
}
.users_datatablebox table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: #878787;
    font-family: 'Poppins-Regular';
}
.users_datatablebox .table-hover>tbody>tr:hover {
    background-color: #fff;
}
.users_datatablebox .dataTables_wrapper{
    padding-top: 23px;
}
.users_datatablebox .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 600;
    font-family: 'Poppins-Regular';
}

/**deta table.css**/



/*login-css*/
.signupparent_divbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 50px;
}
.signup_innerbox{
    display: inline-block;
    width: 38%;
}
.login_toplogobox{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
.login_toplogobox img{
    width: 152px;
}
.login_toplogobox h3{
    margin: 0px;
    font-size: 27px;
    font-family: 'Poppins-Medium';
    color: #000;
    padding-top: 30px;
    text-transform: uppercase;
    /*background: linear-gradient(to right, #EC20C3 0%, #791DFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    */
}
.login_toplogobox p{
    margin: 0px;
    font-size: 18px;    
    font-family: 'Poppins-Regular';
    color: #000;
    padding-top: 7px;
}
.logindetail_inputbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.logindetail_inputbox p{
    margin: 0px;
    padding-bottom: 7px;
    text-align: left;
    float: left;
    color: #746F81;
    font-family: 'Poppins-Regular';
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
}
.logindetail_inputbox input {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 6px;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    height: 42px;
    width: 100%;
    padding: 0px 10px;
    font-family: 'Poppins-Regular';
}
.logindetail_inputbox .form-control:focus {
    box-shadow: none !important;    
    border: 1px solid rgba(33, 33, 33, 0.12);
}
.customcheck{
    display: inline-block;
    width: 60%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Poppins-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .checkmark {
  background-color: #3f3f3f;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.logindetail_inputbox a{
    display: inline-block;
    font-size: 14px;
    float: right;
    font-family: 'Poppins-Regular';    
}
.signbtn_box{
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}
.signbtn_box button{
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    padding: 9px 30px 9px;
    background: #2bb573;   
}

/*login-css*/


/**modal.css**/
.modalformadd{
    display: inline-block;
    width: 100%;
}
.modalformadd input{
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    font-family: 'Poppins-Regular';
}
.modalformadd label{
    font-style: 15px;
    font-family: 'Poppins-Regular';
}
.modalformadd .form-control:focus {    
    border-color: #ddd;
    box-shadow: none !important;
}
.addbtnbox{
    display: inline-block;
    /* width: 100%; */
    float: right;
}
.addbtnbox button{
    border: 0px;
    font-family: 'Poppins-Regular';
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}

.addbtnbox .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}
.modal_footeraddbtn{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}
.modal_footeraddbtn button{
    float: right;
    color: #fff;
    font-family: 'Poppins-Regular';
    border: 0px;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}
.modal_footeraddbtn .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}
.modal_footeraddbtn .btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.modalsetboxpart .modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 0px;
}

/**modal.css**/




.alldetacoverhompg {
    display: inline-block;
    width: 100%;
}
.allloginformcover {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 62px;
    text-align: center;
}
.signup_innerbox {
    display: inline-block;
    width: 38%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    background: #ffffff;
    width: 450px;
    padding: 30px 25px 35px;
    text-align: left;
}
.login_toplogobox {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
.login_toplogobox h3 {
    margin: 0px;
    font-size: 24px;
    font-family: 'Poppins-Medium';
    color: #000000;
    padding-top: 18px;
}
.login_toplogobox p {
    margin: 0px;
    font-size: 15px;
    font-family: 'Poppins-Regular';
    color: #000000;
    padding-top: 7px;
}

.signbtn_box {
    display: inline-block;
    width: 100%;
    margin-top: 43px;
    text-align: center;
}

.forgotPassword{
    display: inline-block;
    width: 40%;
    text-align: right;
    float: right;
}
.forgotPassword a{
    color: #2bb573;
    font-family: 'Poppins-SemiBold';
    float: right;
}























/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){    
    .signupparent_divbox {    
        margin-top: 60px;
    }
    .login_toplogobox p {    
        font-size: 16px;    
    }
    .login_toplogobox h3 {    
        padding-top: 20px;    
    }
    .login_toplogobox img {
        width: 200px;
    }
    .login_toplogobox h3 {    
        font-size: 23px;    
    }
    .signup_innerbox {    
        width: 60%;
    }
}
@media (max-width: 479px){
    .login_toplogobox h3 {
        font-size: 19px;
    }
    .signup_innerbox {
        width: 90%;
    }      
    .login_toplogobox p {
        font-size: 15px;
    }
	.login_toplogobox img {
        width: 165px;
    }
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











