
*{
    text-decoration:none !important; 
    outline:0 !important; 
    list-style:none !important;
}

body {
    color:#2b2a2a; 
    background: #1F262E; 
    font-family:'robotoregular';
}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit !important; border-color:#8D8D8B;}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'),
         url('../fonts/Poppins-Regular.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf'),
         url('../fonts/Poppins-Medium.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf'),
         url('../fonts/Poppins-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
         url('../fonts/Poppins-Bold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-Italic.ttf'),
         url('../fonts/Poppins-Italic.ttf');
        font-weight: normal;
        font-style: normal;

}



/* total width */
::-webkit-scrollbar {
    background-color:#fff;
    width:12px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:#fff
}
::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}
/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}
/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}



body, html {
    font-size: 13px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.sidelefrigcover{
    min-height: 100%;
    
    /*overflow: hidden;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    float: left;
    position: relative;
}
.sidelefrig_left{
    background: #36424C;
    min-height: 100%;
    float: left;
    width: 124px;
    border-right: 1px solid #e5e9ec;
    z-index: 9;
    position: absolute;
    height: auto;
    display: inline-block;
    left: 0;
    top: 0;
    text-align: center;
}
.fontTxtColor{
  color: #fff !important;
}
.sidelefrig_right{
    position: relative;
    padding: 0;
    width: calc(100% - 0px);
    float: right;
    display: inline-block;
    margin-top: 0;
    padding-left: 146px;
    padding-right: 25px;
    padding-top: 15px;
}

.sidelefrig_left ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding: 0;
    text-align: center;
    padding-top: 28px;
}
.sidelefrig_left ul li{
    display: inline-block;
    width: 76px;
    margin-bottom: 20px;
    text-align: center;
}
.sidelefrig_left ul li a{
    display: inline-block;
    width: 100%;
    color: #F7F9F1;
    font-size: 17px;
    font-family: 'Poppins-Regular';
    padding: 0;
    -webkit-box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    border-radius: 6px;
    background: #1C1C1C;
    border: 1px solid #000000;
    height: 68px;
    line-height: 1.3;
    position: relative;
}



.logobox{

}
li.logobox a{
  overflow: hidden;
}
li.logobox a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sidelefrig_left ul li a span{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 7px;
    padding-right: 8px;
}
.tagserchcover{
    display: inline-block;
    width: 100%;
    position: relative;    
    padding-right: 34px;
}
.tagserchin_cover{
  display: inline-block;
  width: 82%;
  float: left;
  background: #1C1C1C;
  padding: 8px 18px 16px;
  border: 1px solid #828282;
  padding-right: 3px;
}
.tagserchin_btn{
    display: inline-block;
    width: 18%;
    float: left;
}
.tagserchin_cover p{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Italic';
    color: #ffffff;
    font-size: 16px;

}
.tagserchin_type{
    display: inline-block;
    width: 25%;
    float: left;
    padding-right: 15px;
}
.tagserchin_tag{
    display: inline-block;
    width: 25%;
    float: left;
    padding-right: 15px;
}
.tagserchin_credit{
    display: inline-block;
    width: 25%;
    float: left;
    padding-right: 15px;
}
.tagserchin_scrd{
    display: inline-block;
    width: 25%;
    float: left;
    padding-right: 15px;
}


.tagserchcover .form-group{
    width: 100%;
    margin-bottom: 0;
}
.tagserchcover .form-group input{
    width: 100%;
    font-family: 'Poppins-Regular';
    color: #F7F9F1;
    font-size: 16px;
    border: 0px solid #8D8D8B;
    box-shadow: inherit;
    height: 38px;
    border-radius: 0;
    background: #36424C;
    padding-right: 30px;
}
.tagserchcover .form-group .error{
  font-family: 'Poppins-Regular';
  font-size: 15px;
  color: #ff0f0f;
  font-weight: normal !important;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.tagserchcover .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F7F9F1;
}
.tagserchcover .form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #F7F9F1;
}
.tagserchcover .form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #F7F9F1;
}
.tagserchcover .form-group input:-moz-placeholder { /* Firefox 18- */
  color: #F7F9F1;
}

.tagserchin_btn button{
    display: inline-block;
    font-family: 'Poppins-Regular';
    color: #F7F9F1;
    font-size: 14px;
    background: #36424C;
    border: 0;
    box-shadow: inherit;
    padding: 6px 9px 6px;
    border-radius: 0;
    margin-top: 44px;
    margin-left: 18px;
}

.vfxtypimg{
    display: inline-block;
}
.vfxtypimg img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.profmnubox{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.profmnubox a{
  display: inline-block;
}
.profmnubox a img{
  width: 30px;
}




/**** custom radio and checkbox ****/
.custom_checkbox{
    display: inline-block;
    width: 100%;
}
.custom_checkbox p{
    display: inline-block;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #000;
    margin: 0;
    width: 100%;
    font-weight: normal;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #1C1C1C;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1C1C1C;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.custom_radio{
    display: inline-block;
    width: 100%;
}
.custom_radio p{
    display: inline-block;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #000;
    margin: 0;
    width: 100%;
    font-weight: normal;
}
/**** custom radio and checkbox ****/

.tablecovrbox{
       margin-top: 18px;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 34px;
}
.tablecovrbox .dataTables_length{
    display: none;
}
.tablecovrbox .dataTables_filter{
    display: none;
}
.tablecovrbox thead tr th{
    font-family: 'Poppins-Regular';
    font-size: 17px;
    color: #ffffff;
    font-weight: normal !important;
}
.tablecovrbox tbody tr td a{
  color: #F7F9F1;
}
.tablecovrbox tbody tr td a img{
  height: 34px;
  width: 58px;
  object-fit: cover;
}
.tablecovrbox tbody tr td{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #F7F9F1;
    font-weight: normal !important;
}
.tablecovrbox .dataTables_info{
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #ffffff !important;
    font-weight: normal !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    font-family: 'Poppins-Regular';
    font-size: 16px;
}
.tablecovrbox .paginate_button.previous{
    color: #ffffff !important;
    font-family: 'Poppins-Regular';
    font-size: 16px;
}
.tablecovrbox .paginate_button.next{
    color: #ffffff !important;
    font-family: 'Poppins-Regular';
    font-size: 16px;
}

.addnewbtn{
    display: inline-block;
    font-family: 'Poppins-Regular';
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    border: 0;
    box-shadow: inherit;
    padding: 7px 15px 7px;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 0;
    border: 1px solid #F59D56;
    margin-bottom: 10px;
}
a.addnewbtn:focus, a.addnewbtn:hover {
    color: #000000 !important;
    text-decoration: underline;
}

.setbtnicon{
    display: inline-block;
    margin-top: 16px;
}
.setbtnicon img{
    width: 50px;
}



.signupcover{
    display: inline-block;
    width: 100%;
}


.ui-formSlide {
  display: block;
  position: relative;
  padding: 0;
  font-size: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
}
.ui-formSlide li[data-step] {
  width: 100%;
  vertical-align: top;
  font-size: 16px;
  display: none;
  white-space: normal;
}
.ui-formSlide li[data-step] .ui-step-content {
  opacity: 0;
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -moz-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -ms-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -o-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
}
.ui-formSlide li[data-step] .ui-step-content.in {
  opacity: 1;
}
.ui-formSlide li[data-step].active {
  display: inline-block;
}

.ui-scalable {
  transform-origin: 0 0;
}

.card {
  background: white;
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;*/
}

.table {
  display: table;
  width: 100%;
}
.table.table-full {
  height: 100%;
}
.table .table-row {
  display: table-row;
}
.table .table-cell {
  display: table-cell;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}
.input-group-addon{
font-family:'Poppins-Regular';
}
textarea{
    width: 100% !important;
    font-family: 'Poppins-Regular' !important;
    color: #000000 !important;
    font-size: 16px !important;
    border: 1px solid #8D8D8B !important;
    box-shadow: inherit !important;
    border-radius: 0 !important;
}
.wrapper {
  width: 400px;
  height: 100%;
  margin: auto;
  position: relative;
}

.buttons {
  padding-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.wrapper button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    background: #232323;
    border-radius: 6px;
    min-width: 100px;
    border: 0;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins-Regular';
    margin-left: 8px;
    margin-right: 8px;
}
.wrapper button:hover {
  background: #232323;
}
.wrapper button:active, .wrapper button:focus {
  outline: none;
}

.notifcheckbox{
    display: inline-block;
}

.signupcover .wrapper{
    background: #ffffff;
    margin-top: 80px;
    border-radius: 12px;
}
.signtitle{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
}
.signtitle h3{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: 'Poppins-Medium';
    font-size: 28px;
}

.signupiner{
    display: inline-block;
    width: 100%;
    padding: 25px;
}
.signupiner .form-group{
    display: inline-block;
    width: 100%;
}
.signupiner .form-group label{
    width: 100%;
    font-family: 'Poppins-Medium';
    font-size: 17px;
    color: #000000;
    font-weight: normal;
}
.signupiner .form-group input{
    width: 100%;
    font-family: 'Poppins-Regular';
    font-size: 17px;
    color: #000000;
    box-shadow: inherit;
    border: 1px solid #a3a3a3;
    height: 36px;
}
.btnsetboxnps{
    text-align: center;
}
.btnsetboxnps .table-cell{
    display: inline-block;
}


.vfxtpypt_cover{
  display: inline-block;
  width: 100%;
  float: left;
  background: #1C1C1C;
  padding: 8px 18px 6px;
  border: 1px solid #828282;
  margin-top: 20px;
}
.vfxboxiner1{
  display: inline-block;
  width: 20%;
  float: left;
  padding-right: 22px;
}
.vfxboxiner2{
  display: inline-block;
  width: 20%;
  float: left;
  padding-right: 22px;
}
.vfxboxiner3{
  display: inline-block;
  width: 28%;
  float: left;
  padding-right: 5px;
}
.vfxboxiner4{
  display: inline-block;
  width: 100%;
  float: left;
  margin-top: 15px;
}
.vfxboxiner5{
  display: inline-block;
  width: 12%;
  float: left;
}
.vfxboxiner6{
  display: inline-block;
  width: 20%;
  float: left;
  padding-right: 22px;
}

.vfxtpypt_cover .form-group {
    width: 100%;
    margin-bottom: 0;
}
.vfxtpypt_cover .form-group label {
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Regular';
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}
.vfxtpypt_cover .form-group input {
    width: 100%;
    font-family: 'Poppins-Regular';
    color: #F7F9F1;
    font-size: 16px;
    border: 0;
    box-shadow: inherit;
    height: 38px;
    border-radius: 0;
    background: #36424C;
}
.vfxtpypt_cover .form-group span{

}
.vfxtpypt_cover .form-group span a{

}
.vfxtpypt_cover .form-group span a img{
  width: 15px;
}
.vfxboxiner3 .form-group{
    width: 50%;
    float: left;
    padding-right: 15px;
}

.vfxboxiner4 h6{
    width: 100%;
    margin: 0;       
    font-family: 'Poppins-Regular';
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: 1.4;
}
.taglisallcover{
    display: inline-block;
    width: 100%;
}
.taglisallcover p{
    display: inline-block;
    /* height: 38px; */
    color: #F7F9F1;
    font-size: 16px;
    border-radius: 0;
    border: 0;
    font-family: 'Poppins-Regular';
    background: #36424C;
    padding-top: 6px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7px;
}




.sldtextcover{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.sldcoverbox{
    display: inline-block;
    width: 30%;
    float: left;
}
.textslright{
    display: inline-block;
    width: 70%;
    float: left;
    padding-left: 35px;
    padding-top: 5px;
}



.gallery-slider {
  position: relative;
  overflow: hidden;
  background-color: #e6e6e6;
}
.gallery-slider__images {
  margin: 0;
  position: relative;
}
.gallery-slider__images .item {
  padding: 0;
}
.gallery-slider__images .item .img-fill {
  text-align: center;
  padding: 10px;
  height: 248px;
}
@media screen and (min-width: 576px) {
  .gallery-slider__images .item .img-fill {
    height: 248px;
  }
}
@media screen and (min-width: 720px) {
  .gallery-slider__images .item .img-fill {
    height: 248px;
  }
}
.gallery-slider__images .item .img-fill img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__images .next-arrow, .gallery-slider__images .prev-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 0 none;
  text-align: center;
  color: #FFF;
  z-index: 5;
  opacity: 0;
  transition: all 0.5s;
  outline: 0;
}
.gallery-slider__images .next-arrow svg, .gallery-slider__images .prev-arrow svg {
  top: 4px;
}
.gallery-slider__images .next-arrow {
  right: 25px;
}
.gallery-slider__images .prev-arrow {
  left: 25px;
}
.gallery-slider__images:hover .next-arrow, .gallery-slider__images:hover .prev-arrow {
  opacity: 1;
}
.gallery-slider__images .caption {
  width: 0;
  height: 0;
  position: relative;
  text-align: center;
  display: block;
  opacity: 1;
  transition: opacity 0.15s;
}
.gallery-slider__images .caption.hide {
  opacity: 0;
}
.gallery-slider__thumbnails {
  position: relative;
  top: auto;
  left: 0px;
  width: 100%;
  z-index: 4;
  transition: all 0.8s;
  margin: 0;
  padding: 13px 0;
}
.gallery-slider__thumbnails:before, .gallery-slider__thumbnails:after {
  content: '';
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  pointer-events: none;
}
.gallery-slider__thumbnails:before {
  left: 0;
  background: linear-gradient(to right, #e6e6e6 0%, rgba(230, 230, 230, 0) 100%);
}
.gallery-slider__thumbnails:after {
  right: 0;
  background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #e6e6e6 100%);
}
.gallery-slider__thumbnails .item .img-fill {
  height: 70px;
  background: white;
  cursor: pointer;
  border: 5px solid white;
  text-align: center;
}
.gallery-slider__thumbnails .item .img-fill img {
  opacity: 0.5;
  transition: all 0.5s;
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__thumbnails .item:hover .img-fill img {
  opacity: 1;
}
.gallery-slider__thumbnails .item.slick-center img {
  opacity: 1;
}
.gallery-slider__thumbnails .next-arrow, .gallery-slider__thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  border: 0 none;
  z-index: 15;
}
.gallery-slider__thumbnails .next-arrow svg, .gallery-slider__thumbnails .prev-arrow svg {
  top: 2px;
}
.gallery-slider__thumbnails .next-arrow {
  right: 0px;
}
.gallery-slider__thumbnails .prev-arrow {
  left: 0px;
}
.gallery-slider .next-arrow, .gallery-slider .prev-arrow {
  cursor: pointer;
}
.gallery-slider .next-arrow svg, .gallery-slider .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}
.gallery-slider .img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.gallery-slider .slick-slider {
  margin: 0 -7.5px;
  padding: 0 !important;
}
.gallery-slider .slick-slide {
  float: left;
  padding: 0 7.5px;
  outline: none;
}

.sldcoverbox .gallery-slider__thumbnails .img-fill img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sldcoverbox .gallery-slider__thumbnails .item .img-fill{
    border: 0;
}
.sldcoverbox .gallery-slider__images .item .img-fill{
    padding: 0;
}
.sldcoverbox .gallery-slider{
    background-color: transparent;
}
.sldcoverbox .gallery-slider__thumbnails:before {
    left: 0;
    background: transparent;
}
.sldcoverbox .gallery-slider__thumbnails:after {
    right: 0;
    background: transparent;
}
.sldcoverbox .gallery-slider__thumbnails .prev-arrow{
    display: none !important;
}
.sldcoverbox .gallery-slider__thumbnails .next-arrow{
    display: none !important;
}
.sldcoverbox .gallery-slider__thumbnails .item .img-fill img{
    opacity: 1;
}

.sldcoverbox .gallery-slider__images .item .img-fill img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.textslinerbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
}
.textslinerbox h3{
    /*width: 100%;*/
    display: inline-block;
    margin: 0;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #ffffff;
    text-decoration: underline !important;
    margin-bottom: 8px;
}
.textslinerbox a{
  display: inline-block;
  margin-left: 5px;
}
.textslinerbox a img{
  width: 15px;
}
.textslinerbox p{
  width: 100%;
  display: inline-block;
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  color: #ffffff;
}
.textslinerbox textarea{
  width: 100%;
  font-family: 'Poppins-Regular';
  color: #000000;
  font-size: 16px;
  border: 1px solid #8D8D8B;
  box-shadow: inherit;
  height: 85px;
  border-radius: 0;
  resize: none;
}

.showtextbox{
  display: inline-block;
  width: 100%;
}


.linkboxset{
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
}
.linkboxset p{
  display: inline-block;
  float: left;
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline !important;
  margin-bottom: 5px;
  margin-right: 14px;
}
.linkboxset a{
  display: inline-block;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-left: 5px;
}
.linkboxset a img{
  width: 15px;
}

.contcoverbox{
  display: inline-block;
  width: 540px;
  margin-bottom: 45px;
  margin-top: 38px;
}
.contcoverbox h3{
  display: inline-block;
  width: 100%;
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 20px;
  color: #cecece;
}

.roleleftri_title{
  display: inline-block;
  width: 100%;
}
.roleleftbox{
  display: inline-block;
  width: 45%;
  float: left;
  padding-right: 20px;
}
.screcredrightbox{
  display: inline-block;
  width: 55%;
  float: left;
  position: relative;
  padding-right: 35px;
}


.roleleftri_title p{
  display: inline-block;
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline !important;
  margin-bottom: 5px;
  margin-right: 14px;
}

.roleleftri_discbox{
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
}
.select2-container{
  width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 37px;
  font-family: 'Poppins-Regular';
  font-size: 16px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  font-family: 'Poppins-Regular';
}
.select2-container .select2-selection--single{
  height: 38px;
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 8px;
  right: 5px;
}
.select2-selection__arrow b{
  display: none !important;
}
.select2-container--default .select2-selection--single {
  background-color: #36424C;
  border: 0px solid #aaa;
}
.select2-container--default .select2-selection--multiple {
  background-color: #36424C;
  border: 0px solid #aaa;
}
.select2-container .select2-search--inline .select2-search__field{
  margin-top: 0;
  height: 32px;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

.screcredrightbox .form-group {
    width: 100%;
    margin-bottom: 0;
}
.screcredrightbox .form-group input {
    width: 100%;
    font-family: 'Poppins-Regular';
    color: #F7F9F1;
    background: #36424C;
    font-size: 16px;
    border: 0px solid #8D8D8B;
    box-shadow: inherit;
    height: 38px;
    border-radius: 0;
}
.screcredrightbox a{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 9px;
}
.screcredrightbox a img{
    width: 17px;
}
.select2-results__option{
    font-family: 'Poppins-Regular';
    color: #000000;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 0;
    height: 0;
    left: 50%;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 50%;
    width: 0;
    

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    color: #7F7F7F;
    line-height: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    content: "\f175";
}


.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #888 transparent;
    border-width: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{
    content: "\f176";
}

.addcontbox{
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}
.addcontbox a{
    display: inline-block;
    padding: 8px 10px 8px;
    background: #069A32;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins-Regular';
}

.allformcover{
  display: inline-block;
  width: 100%;
  margin-bottom: 36px;
}
.formdetacover{
  display: inline-block;
  width: 80%;
  float: left;
  background: #1C1C1C;
  padding: 8px 5px 16px;
  border: 1px solid #F59D56;
}
.width100{
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.width50{
  display: inline-block;
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.noteboxcover{
  display: inline-block;
  width: 100%;
}
.noteboxcover h3{
   display: inline-block;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Poppins-SemiBold';
  margin: 0;
  margin-bottom: 5px;
}
.noteboxcover p{
  display: inline-block;
  width: 100%;
  color: #F7F9F1;
  font-size: 16px;
  font-family: 'Poppins-Regular';
}

.inputselect{
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 3px;
}

.inputselect input{
  width: 100%;
  font-family: 'Poppins-Regular';
  color: #F7F9F1 !important;
  background: #36424C;
  font-size: 16px;
  border: 0px solid #8D8D8B;
  box-shadow: inherit;
  height: 38px;
  border-radius: 0;
}
.inputselect input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F7F9F1;
}
.inputselect input::-moz-placeholder { /* Firefox 19+ */
  color: #F7F9F1;
}
.inputselect input:-ms-input-placeholder { /* IE 10+ */
  color: #F7F9F1;
}
.inputselect input:-moz-placeholder { /* Firefox 18- */
  color: #F7F9F1;
}

.inputselect .error{
  font-family: 'Poppins-Regular';
  font-size: 15px;
  color: #ff0f0f;
  font-weight: normal !important;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.inputselect label{
  font-family: 'Poppins-Regular';
  font-size: 17px;
  color: #ffffff;
  font-weight: normal !important;
  width: 100%;
}
.inputselect textarea{
  color: #F7F9F1 !important;
  background: #36424C !important;
  border: 0 !important;
}

.select2-container--default .select2-selection--multiple{
  border-radius: 0;
  border: 0px solid #8D8D8B;
}
.select2-container--default .select2-search--inline .select2-search__field{
  font-family: 'Poppins-Regular';
  color: #000000;
  font-size: 16px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  font-family: 'Poppins-Regular';
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #F7F9F1;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #F7F9F1;
}
.uploadboxset{
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.uploadboxset label{
    font-family: 'Poppins-Regular';
    font-size: 17px;
    color: #ffffff;
    font-weight: normal !important;
    width: 100%;
    margin-bottom: 0;
}
.uploadboxset input{
  font-family: 'Poppins-Regular';
  color: #F7F9F1 !important;
  font-size: 16px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 15px;
}
.uploadboxset p{
  font-family: 'Poppins-Regular';
  font-size: 15px;
  color: #ffffff;
  font-weight: normal !important;
  width: 100%;
  margin-bottom: 0;
  margin-top: 8px;
}


.file-upload{
  display:block;
  text-align:center;
  font-family: 'Poppins-Regular';
  font-size: 15px;
  width: 100%;
}
.file-upload .file-select{
  display:block;
  border: 0px solid #dce4ec;
  color: #F7F9F1;
  cursor:pointer;
  height:37px;
  line-height:37px;
  text-align:left;
  background:#36424C;
  overflow:hidden;
  position:relative;
}
.file-upload .file-select .file-select-button{
  background: #F7F9F1;
  padding: 0 10px;
  display: inline-block;
  height: 37px;
  line-height: 37px;
  color: #36424C;
}
.file-upload .file-select .file-select-name{line-height:37px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:37px;line-height:37px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:37px;line-height:37px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:37px;display:inline-block;padding:0 10px;}
.file-upload .file-select input{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}








.imgshowbox{
  width: 100%;
  display: inline-block;
}
.imgshowbox img{
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  border: 1px solid #828282;
  margin-right: 8px;
  margin-top: 10px;
  object-fit: contain;
}

.uploadboxset .error{
  font-family: 'Poppins-Regular';
  font-size: 15px;
  color: #ff0f0f;
  font-weight: normal !important;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
ul.ui-autocomplete {
  height: auto !important;
  overflow: auto;
  max-height: 400px !important;
}

.addbtnboxset{
  display: inline-block;
  width: 100%;
}
.addbtnboxset a{
  display: inline-block;
  font-family: 'Poppins-Regular';
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  border: 0;
  box-shadow: inherit;
  padding: 7px 15px 7px;
  border-radius: 0;
  margin-top: 0px;
  margin-left: 0;
  border: 1px solid #F59D56;
}


.modal-content{
  background-color: #000000;
  border: 1px solid #F7F9F1;
}
.modal-title{
  font-family: 'Poppins-Medium';
  font-size: 17px;
  color: #ffffff;
}
.modal-body{

}
.close{
  color: #ffffff;
  opacity: .8;
}
.close:focus, .close:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .9;
}
.modal-body .form-group .form-control{
  font-family: 'Poppins-Regular';
  font-size: 16px;
  color: #F7F9F1;
  background: #36424C;
  border-radius: 0;
  height: 38px;
  border: 0;
}
.sercnamebtn{
  display: inline-block;
  width: 100%;
}
.sercnamebtn a{
  display: inline-block;
  font-family: 'Poppins-Regular';
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  border: 0;
  box-shadow: inherit;
  padding: 7px 15px 7px;
  border-radius: 0;
  margin-top: 10px;
  margin-left: 0;
  border: 1px solid #F59D56;
  margin-bottom: 10px;
}


.btnsetform{
  display: inline-block;
  font-family: 'Poppins-Regular';
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  border: 0;
  box-shadow: inherit;
  padding: 7px 15px 7px;
  border-radius: 0;
  margin-top: 4px;
  margin-left: 0;
  border: 1px solid #F59D56;
}

.tablecovrbox thead tr th{
  padding-left: 8px;
  padding-right: 8px;
}

.plylisttbl{

}
.numberwi{
  width: 50px;
}
.textshowbox{
  display: inline-block;
  width: 100%;
}
.textshowbox p{
  display: inline-block;
  width: 100%;
  font-family: 'Poppins-Regular';
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #36424C;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #36424C;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #36424C;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #36424C;
}
table.dataTable tbody tr {
    background-color: #36424C;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #36424C;
}

.topchckbox{
  position: absolute;
  left: 10px;
  top: 13px;
}
.savlaybox{
  display: inline-block;
  float: left;
  padding-left: 30px;
}



.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #F7F9F1;
  text-align: center;
  background-color: #36424C;
  border: 0px solid #ccc;
  border-radius: 0;
  border-right: 1px solid #ccc !important;
}

.edittextareanote textarea{
  background: #36424C;
  color: #F7F9F1 !important;
  border: 0 !important;
}
.edittextarea textarea{
  background: #36424C;
  color: #F7F9F1 !important;
  border: 0 !important;
}

.linkboxset input{
  width: 100%;
  font-family: 'Poppins-Regular';
  color: #F7F9F1;
  font-size: 16px;
  border: 0px solid #8D8D8B;
  box-shadow: inherit;
  height: 38px;
  border-radius: 0;
  background: #36424C;
}
#toast-container{
  font-family: 'Poppins-Regular';
}
#toast-container>.toast-success{
  font-family: 'Poppins-Regular';
}

.clearser{
  position: relative;
}
.clearser a{
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 24px;
}
.clearser a img{
  width: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    font-family: 'Poppins-Regular';
    font-size: 16px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-family: 'Poppins-Regular';
  font-size: 16px;
  color: #ffffff !important;
}


.notetextset{
  font-family: 'Poppins-Regular';
  font-size: 15px;
  color: #F7F9F1;
  margin-bottom: 0;
  margin-top: 9px;
}




.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #000000 !important;
  border-bottom: 1px solid #ebebeb !important;
  border-radius: 5px 5px 0 0 !important;
}
.popover-content {
  padding: 9px 14px;
  background: #000000 !important;
  border-radius: 0px 0px 5px 5px !important;
}
.confirmation-buttons a{
  color: #000000 !important;
  background: #ffffff;
  border: 1px solid #000000;
}


.sercname .form-group .error {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #ff0f0f;
    font-weight: normal !important;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0;
}


.tablecovrbox .dataTables_wrapper{
  overflow: auto;
}







/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











