
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: 'Poppins-Regular';}
body ,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit !important; border-color:#000000;}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'),
         url('../fonts/Poppins-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf'),
         url('../fonts/Poppins-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf'),
         url('../fonts/Poppins-Light.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
         url('../fonts/Poppins-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf'),
         url('../fonts/Poppins-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'lineto-circular-pro-book';
    src: url('../fonts/lineto-circular-pro-book.ttf'),
         url('../fonts/lineto-circular-pro-book.ttf');
        font-weight: normal;
        font-style: normal;
}


.bgheader_bgcolor {
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    background: #fff;
    border-bottom: 1px solid #E9E9E9;
    /*background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}

label.error {
    color: red;
}
.logo_leftbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.logo_leftbox img {
    width: 85px;
}
.logout_rightbox {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
}
.logout_rightbox img{
    width: 28px;
}
.logout_rightbox a {
    display: inline-block;
}
.logout_rightbox h4 {
    margin: 0px;
    color: #000;
    padding-top: 13px;
    text-align: right;
    font-size: 16px;
    font-family: 'Poppins-Medium';
}
.parettow_coverbox{
    /*display: inline-block;
    width: 100%;
    padding-top: 0;*/
    width: 100%;
    float: left;
    position: relative;
    min-height: 100%;
    background: #fff;
    overflow: hidden;
}
.left_paretboxpart{
   /* display: inline-block;
    width: 20%;
    float: left;
    background: #FDFDFD;
    border-right: 1px solid #F7F7F7;*/
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    min-height: 100%;
    float: left;
    width: 295px;
    border-right: 1px solid #e5e9ec;
    background: #fff;
    z-index: 9;
}
.innercategories {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.innercategories ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.innercategories ul li {
    display: inline-block;
    width: 85%;
}
.activelist {
    
    border-radius: 0px 26px 26px 0px;
    background: #232323;
    /*background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 )*/
}
.innercategories ul li a {
    display: inline-block;
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #000;
    padding-left: 27px;
    padding-bottom: 13px;
    padding-top: 13px;
    width: 100%;
}

.profiledetlisman_div{
    display: inline-block;
    width: 100%;
    padding-left: 40px;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile_innerdetlis{
    display: inline-block;
    width: 53%;
    border: 1px solid #EAEAEA; 
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: 0px 0px 9px -6px rgba(158,158,158,0.88);
    border-radius: 4px;
}
.profilephoto_detlis{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;    
}
.profile_titaltext{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 12px;
}
.profile_titaltext h3{
    color: #231F20;
    margin: 0px;
    font-size: 22px;
    font-family: 'Poppins-Regular';
}
.leftprofile_detlis{
    display: inline-block;
    width: 35%;
    float: left;
}
.leftprofile_detlis p{
    color: #808284;
    font-family: 'Poppins-Medium';
    font-size: 12px;
    margin: 0px;
    padding-top: 11px;
}

.rightprofile_detlis{
    display: inline-block;
    width: 65%;
    float: left;
}
.rightprofile_detlis img{
     width: 40px;
    height: 40px;
    border-radius: 50%;
}
.activelist a {
    color: #fff !important;
}
.right_paddingboxpart {
    /*display: inline-block;
    width: 80%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;*/
    display: inline-block;
    padding: 0;
    width: calc(100% - 0px);
    float: right;
    padding-left: 294px;
    /*position: absolute;*/
    height: 100%;
}
.centr_paretboxpart {
    display: inline-block;
    width: 65%;
    float: left;
}
.right_paretboxpart {
    display: inline-block;
    width: 28%;
    float: left;
    margin-left: 40px;
}
.signeup_topbox {
    display: inline-block;
    width: 100%;
}
.signeup_lefttextbox {
    display: inline-block;
    width: 50%;
    float: left;
}
.signeup_lefttextbox p {
    margin: 0px;
    font-size: 28px;
    color: #666666;
    padding-top: 4px;
    font-family: 'Poppins-Medium';
    text-transform: capitalize;
}
.date_textboxpart {
    display: inline-block;
    width: 50%;
    float: left;
    position: relative;
}
.date_textboxpart img {
    width: 14px;
    position: absolute;
    left: 18px;
    top: 9px;
}
.date_textboxpart input {
    margin: 0px;
    font-size: 15px;
    color: #4D4F5C;
    font-family: 'Poppins-Light';
    border: 1px solid #DEE2EC;
    border-radius: 17px;
    padding: 5px 13px 5px 38px;
    text-align: right;
    width: 100%;
    float: right;
}
.signeup_innerborderbox {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #F1F1F1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 48px;
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
}

.users_detateblebox{
    display: inline-block;
    width: 100%;
  /*  padding-left: 40px;
    padding-top: 50px;
    padding-right: 45px;*/
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.profile_innerdetlis{
    display: inline-block;
    width: 53%;
    border: 1px solid #EAEAEA; 
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: 0px 0px 9px -6px rgba(158,158,158,0.88);
    border-radius: 4px;
}

.profile_titaltext{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 12px;
}

.namedetlis_boxpart{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
}

.leftname_detlis{
    display: inline-block;
    width: 35%;
    float: left;
}
.leftname_detlis p{
    color: #808284;
    font-family: 'Poppins-Medium';
    font-size: 12px;
    margin: 0px;    
}
.rightname_detlis{
    display: inline-block;
    width: 65%;
    float: left;
}
.rightname_detlis p{
    color: #6A7284;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    margin: 0px;    
}

.backbtn{
    background: #F44336;
    color:#fff;
    font-size: 15px;
    border: 0;
    font-family: 'Poppins-Regular';
    padding: 6px 12px;
    border-radius: 3px;
}
.backbtn:hover , .backbtn:focus{
    color: #ffffff;
}
.total_usersdetlis {
    display: inline-block;
    width: 100%;
    border: 1px solid #F1F1F1;
    margin-bottom: 20px;
}
.total_usersdetlis ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.total_usersdetlis ul li {
    display: inline-block;
    width: 33.33%;
    float: left;
}
.total_usersdetlis ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.total_usersdetlis ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Poppins-Medium';
}
.total_usersdetlis ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Poppins-Regular';
}
.deviceandcity_paretpart {
    display: inline-block;
    width: 100%;
}


.device_childbox {
    display: inline-block;
    width: 30%;
    float: left;
    border: 1px solid #EAEAEA;
    padding-top: 8px;
    padding-bottom: 90px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 18px;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.devicetital_text p{
    margin-bottom: 0;
}
.iosdeviceuser_text h3{
    margin-top: 0;
    margin-bottom: 0;
}
.iosdeviceuser_text p{
    margin-bottom: 0;
}
.bordersetnone {
    border-bottom: 0px;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.citycategory_box {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #F1F1F1;
}
.leftcity_textbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.leftcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #43425D;
    font-family: 'Poppins-Regular';
}
.rightcity_textbox {
    display: inline-block;
    width: 20%;
    float: left;
}
.rightcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #A6A7AD;
    font-family: 'Poppins-Regular';
}
.lifetime_titaltext {
    display: inline-block;
    width: 100%;
}
.lifetime_titaltext p {
    margin: 0px;
    font-size: 18px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'lineto-circular-pro-book';
}
.verified_detlisbox {
    display: inline-block;
    width: 100%;
    padding-top: 24px;
}
.verified_detlisbox ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.verified_detlisbox ul li {
    display: inline-block;
    width: 100%;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.verified_detlisbox ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.verified_detlisbox ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Poppins-Medium';
}
.verified_detlisbox ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Poppins-Medium';
}

/**deta table.css**/
.users_datatablebox table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;
    border: 1px solid #f1f1f1;
}
.users_datatablebox .details-table {
  width            : 100%;
  background-color : #FFF;
  margin           : 5px;
} 
.users_datatablebox .title {
    font-weight : bold;
    width: 100px;
}
.users_datatablebox .iconSettings {
  margin-top    : 5px;
  margin-bottom : 10px;
  font-size     : 12px;
  position      : relative;
  top           : 1px;
  display       : inline-block;
  font-family   : 'Glyphicons Halflings';
  font-style    : normal;
  font-weight   : 400;
  line-height   : 1;
  -webkit-font-smoothing : antialiased;
}
.users_datatablebox table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 0px solid #111;
}
.users_datatablebox .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.users_datatablebox td.details-control::after {
    content: 'view';
    cursor: pointer;    
    color: #A20871;
}
.users_datatablebox tr.shown td.details-control::after {
    content: 'close';
}
.users_datatablebox .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;    
    border: 1px solid #f1f1f1;
}
.users_datatablebox table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: #878787;
    font-family: 'Poppins-Regular';
}
.users_datatablebox .table-hover>tbody>tr:hover {
    background-color: #fff;
}
.users_datatablebox .dataTables_wrapper{
    padding-top: 23px;
}
.users_datatablebox .dataTables_wrapper .dataTables_filter input {
   margin-left: 0.5em;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 600;
    font-family: 'Poppins-Regular';
    border-radius: 4px;
}

/**deta table.css**/



/*login-css*/
.signupparent_divbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 90px;
}
.signup_innerbox{
    display: inline-block;
    width: 38%;
}
.login_toplogobox{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
.login_toplogobox img{
    width: 152px;
}
.login_toplogobox h3{
    margin: 0px;
    font-size: 27px;
    font-family: 'Poppins-Medium';
    color: #000;
    padding-top: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right, #EC20C3 0%, #791DFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.login_toplogobox p{
    margin: 0px;
    font-size: 18px;    
    font-family: 'Poppins-Regular';
    color: #000;
    padding-top: 7px;
}
.logindetail_inputbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.logindetail_inputbox p{
    margin: 0px;
    font-size: 14px;
    color: #878787;
    padding-bottom: 7px;
    text-align: left;
    display: inline-block;
    float: left;
    font-family: 'Poppins-Regular';
}
.logindetail_inputbox input {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    height: 42px;
    width: 100%;
    padding: 0px 10px;
    font-family: 'Poppins-Regular';
}
.logindetail_inputbox .form-control:focus {
    box-shadow: none !important;    
    border: 1px solid rgba(33, 33, 33, 0.12);
}
.customcheck{
    display: inline-block;
    width: 100%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Poppins-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .checkmark {
  background-color: #EC20C3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.logindetail_inputbox a{
    display: inline-block;
    font-size: 14px;
    float: right;
    font-family: 'Poppins-Regular';    
}
.signbtn_box{
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}
.signbtn_box button{
    color: #fff;
    border: 0px;
    border-radius: 20px;
    font-family: 'Poppins-Regular';
    font-size: 15px;
    padding: 9px 17px 9px 17px;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}

/*login-css*/


/**modal.css**/
.modalformadd{
    display: inline-block;
    width: 100%;
}
.modalformadd input{
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    font-family: 'Poppins-Regular';
}
.modalformadd label{
    font-style: 15px;
    font-family: 'Poppins-Regular';
}
.modalformadd .form-control:focus {    
    border-color: #ddd;
    box-shadow: none !important;
}
.addbtnbox{
    display: inline-block;
    /* width: 100%; */
    float: right;
}
.addbtnbox button{
    border: 0px;
    font-family: 'Poppins-Regular';
    padding: 8px 18px 8px;
    font-size: 17px;
    background: #232323;
    /*background: #232323;
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}

.addbtnbox .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background: #232323;
    
}
.modal_footeraddbtn{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 6px;
}
.modal_footeraddbtn button{
    float: right;
    color: #fff;
    font-family: 'Poppins-Regular';
    border: 0px;
    background: #232323;
    /*background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}
.btn-info:hover {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}
.modal_footeraddbtn .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background: #232323;
    /*background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}
.modal_footeraddbtn .btn-default:hover {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}
.modalsetboxpart .modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 0px;
}
.commentsection{
    overflow: overlay;
    width: 100%;
    height: 400px;
}
/**modal.css**/


.userinfoboxset{
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.users_datatablebox{
    padding: 35px;
    display: inline-block;
    width: 100%;
}

.dataTable a{
    margin-right: 0;
}

.users_datatablebox .signeup_lefttextbox{
    margin-bottom: 22px;
}
.users_datatablebox .date_textboxpart{
    margin-bottom: 22px;
}

.users_datatablebox tr td{

}
.users_datatablebox tr td a{
    color: #003de9;
    text-transform: capitalize;
}
.users_datatablebox tr td a img{
    width: 50px;
    height: auto;
}


.users_datatablebox table thead tr {
    background: rgba(0, 0, 0, 0.21);
}
.users_datatablebox table thead tr th {
    font-family: 'Poppins-SemiBold' !important;
    font-weight: normal;
    color: #272727;
    font-size: 15px;
}
.users_datatablebox table {
    -webkit-box-shadow: 0px 0px 4px 0px rgb(231, 231, 231);
    -moz-box-shadow: 0px 0px 4px 0px rgb(231, 231, 231);
    box-shadow: 0px 0px 4px 0px rgb(231, 231, 231);
    border-radius: 8px;
    border: 0 !important;
    overflow: hidden;
    margin-bottom: 18px;
}
.users_datatablebox table tr td {
    color: #272727;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    padding-left: 18px !important;
    padding-right: 8px !important;
}

.users_datatablebox .dataTables_length{
    margin-bottom: 15px;
}

.users_datatablebox .dataTables_filter{
    margin-bottom: 15px;
}
.users_datatablebox .dataTables_length label{
    color: #272727;
    font-family: 'Poppins-Medium';
    font-size: 15px;
    font-weight: normal;
}
.users_datatablebox .dataTables_filter label{
    color: #272727;
    font-family: 'Poppins-Medium';
    font-size: 15px;
    font-weight: normal;
}

.modal .modal-title{
    margin: 0px;
    font-size: 28px;
    color: #666666;
    padding-top: 4px;
    font-family: 'Poppins-Medium';
    text-transform: capitalize;
    text-align: center;
}
.modal .close{
    margin-top: 0;
    opacity: 0.5;
    font-size: 25px;
}

.modal .modal-body .form-group{

}
.modal .modal-body .form-group .form-control{
    border: 1px solid #bfbfbf;
    height: 44px;
    border-radius: 5px;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
    box-shadow: inherit;
}
.modal .modal-body .form-group textarea.form-control{    
    height: 85px;
    resize: none;
}
.modal .modal-body .form-group label.error{
    color: #f70000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.modal .modal-body .form-group img{
    width: 80px !important;
    height: auto !important;
    margin-bottom: 5px;
}
.modal .modal-body .form-group a{
    border: 0px;
    font-family: 'Poppins-Regular';
    padding: 8px 18px 8px;
    font-size: 17px;
    background: #232323;
    color: #ffffff;
}
.modal .modal-body .form-group .select2-container{
    width: 100% !important;
}
.modal .modal-body .form-group .select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
}
.modal .modal-footer{
    border: 0;
    padding: 0;
}
.editbtn{
   margin-right: 5px !important;
   margin-bottom: 5px;
}
.deletebtn{

}

.editbtn img{
    width: 19px !important;
}
.deletebtn img{
    width: 15px !important;
}
.bckbtnbox{
    width: 100%;
    margin-bottom: 15px;
}
.bckbtnbox button{
    border: 0px;
    font-family: 'Poppins-Regular';
    padding: 8px 18px 8px;
    font-size: 17px;
    background: #232323;
}
.bckbtnbox button:hover {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}


.confirmation-buttons .btn-group a.btn-primary{
    color: #ffffff;
}
.confirmation-buttons .btn-group a.btn-default{
    color: #000000;
}

.approval{
    
}






.signupiner .form-group .invalid-feedback strong{
      color: #ff0000;
    font-size: 15px;
    width: 100%;
    font-family: 'Poppins-Regular';
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.signupiner label.error{
      color: #ff0000;
    font-size: 15px;
    width: 100%;
    font-family: 'Poppins-Regular';
    margin: 0;
    padding: 0;
    font-weight: normal;
}




























/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){    
    .signupparent_divbox {    
        margin-top: 60px;
    }
    .login_toplogobox p {    
        font-size: 16px;    
    }
    .login_toplogobox h3 {    
        padding-top: 20px;    
    }
    .login_toplogobox img {
        width: 200px;
    }
    .login_toplogobox h3 {    
        font-size: 23px;    
    }
    .signup_innerbox {    
        width: 60%;
    }
}
@media (max-width: 479px){
    .login_toplogobox h3 {
        font-size: 19px;
    }
    .signup_innerbox {
        width: 90%;
    }      
    .login_toplogobox p {
        font-size: 15px;
    }
	.login_toplogobox img {
        width: 165px;
    }
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











