
*{
    text-decoration:none !important; 
    outline:0 !important; 
    list-style:none !important;
}

body {
    color:#2b2a2a; 
    background: #000000; 
    font-family:'robotoregular';
}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit !important; border-color:#8D8D8B;}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'),
         url('../fonts/Poppins-Regular.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf'),
         url('../fonts/Poppins-Medium.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf'),
         url('../fonts/Poppins-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
         url('../fonts/Poppins-Bold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-Italic.ttf'),
         url('../fonts/Poppins-Italic.ttf');
        font-weight: normal;
        font-style: normal;

}



/* total width */
::-webkit-scrollbar {
    background-color:#fff;
    width:12px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:#fff
}
::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}
/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}
/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}



body, html {
    font-size: 13px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.sidelefrigcover{
    min-height: 100%;
    
    /*overflow: hidden;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    float: left;
    position: relative;
}
.sidelefrig_left{
    background: #DDDDDD;
    min-height: 100%;
    float: left;
    width: 124px;
    border-right: 1px solid #e5e9ec;
    z-index: 9;
    position: absolute;
    height: auto;
    display: inline-block;
    left: 0;
    top: 0;
    text-align: center;
}
.fontTxtColor{
  color: #fff !important;
}
.sidelefrig_right{
    position: relative;
    padding: 0;
    width: calc(100% - 0px);
    float: right;
    display: inline-block;
    margin-top: 0;
    padding-left: 155px;
    padding-right: 25px;
    padding-top: 15px;
}

.sidelefrig_left ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding: 0;
    text-align: center;
    padding-top: 28px;
}
.sidelefrig_left ul li{
    display: inline-block;
    width: 76px;
    margin-bottom: 20px;
    text-align: center;
}
.sidelefrig_left ul li a{
    display: inline-block;
    width: 100%;
    color: #000000;
    font-size: 17px;
    font-family: 'Poppins-Regular';
    padding: 0;
    -webkit-box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    box-shadow: 0px 2px 10px -3px rgb(0, 0, 0);
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #000000;
    height: 68px;
    line-height: 1.3;
    position: relative;
}
.sidelefrig_left ul li a span{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 7px;
    padding-right: 8px;
}
.tagserchcover{
    display: inline-block;
    width: 100%;
    
}
.tagserchin_cover{
    display: inline-block;
    width: 80%;
    float: left;
    background: #1C1C1C;
    padding: 8px 18px 16px;
    border: 1px solid #828282;
}
.tagserchin_cover p{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Italic';
    color: #ffffff;
    font-size: 16px;

}
.tagserchin_type{
    display: inline-block;
    width: 35%;
    float: left;
    padding-right: 15px;
}
.tagserchin_tag{
    display: inline-block;
    width: 35%;
    float: left;
    padding-right: 15px;
}
.tagserchin_credit{
    display: inline-block;
    width: 30%;
    float: left;
}
.tagserchin_btn{
    display: inline-block;
    width: 20%;
    float: left;
}

.tagserchcover .form-group{
    width: 100%;
    margin-bottom: 0;
}
.tagserchcover .form-group input{
    width: 100%;
    font-family: 'Poppins-Regular';
    color: #000000;
    font-size: 16px;
    border: 1px solid #8D8D8B;
    box-shadow: inherit;
    height: 38px;
    border-radius: 0;
}

.tagserchin_btn button{
    display: inline-block;
    font-family: 'Poppins-Regular';
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    border: 0;
    box-shadow: inherit;
    padding: 7px 10px 7px;
    border-radius: 0;
    margin-top: 24px;
    margin-left: 18px;
}

.vfxtypimg{
    display: inline-block;
}
.vfxtypimg img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


/**** custom radio and checkbox ****/
.custom_checkbox{
    display: inline-block;
    width: 100%;
}
.custom_checkbox p{
    display: inline-block;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #000;
    margin: 0;
    width: 100%;
    font-weight: normal;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #1C1C1C;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1C1C1C;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.custom_radio{
    display: inline-block;
    width: 100%;
}
.custom_radio p{
    display: inline-block;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #000;
    margin: 0;
    width: 100%;
    font-weight: normal;
}
/**** custom radio and checkbox ****/

.tablecovrbox{
    display: inline-block;
    width: 100%;
    margin-top: 18px;
}
.tablecovrbox .dataTables_length{
    display: none;
}
.tablecovrbox .dataTables_filter{
    display: none;
}
.tablecovrbox thead tr th{
    font-family: 'Poppins-Regular';
    font-size: 17px;
    color: #ffffff;
    font-weight: normal !important;
}
.tablecovrbox tbody tr td{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #000000;
    font-weight: normal !important;
}
.tablecovrbox .dataTables_info{
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #ffffff !important;
    font-weight: normal !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    font-family: 'Poppins-Regular';
    font-size: 16px;
}
.tablecovrbox .paginate_button.previous{
    color: #ffffff !important;
}
.tablecovrbox .paginate_button.next{
    color: #ffffff !important;
}

.addnewbtn{
    display: inline-block;
    font-family: 'Poppins-Regular';
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    border: 0;
    box-shadow: inherit;
    padding: 7px 15px 7px;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 0;
}


.setbtnicon{
    display: inline-block;
    margin-top: 16px;
}
.setbtnicon img{
    width: 50px;
}



.signupcover{
    display: inline-block;
    width: 100%;
}


.ui-formSlide {
  display: block;
  position: relative;
  padding: 0;
  font-size: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
}
.ui-formSlide li[data-step] {
  width: 100%;
  vertical-align: top;
  font-size: 16px;
  display: none;
  white-space: normal;
}
.ui-formSlide li[data-step] .ui-step-content {
  opacity: 0;
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -moz-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -ms-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  -o-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
}
.ui-formSlide li[data-step] .ui-step-content.in {
  opacity: 1;
}
.ui-formSlide li[data-step].active {
  display: inline-block;
}

.ui-scalable {
  transform-origin: 0 0;
}

.card {
  background: white;
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;*/
}

.table {
  display: table;
  width: 100%;
}
.table.table-full {
  height: 100%;
}
.table .table-row {
  display: table-row;
}
.table .table-cell {
  display: table-cell;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}

.wrapper {
  width: 400px;
  height: 100%;
  margin: auto;
  position: relative;
}

.buttons {
  padding-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.wrapper button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    background: #232323;
    border-radius: 6px;
    min-width: 100px;
    border: 0;
    color: white !important;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins-Regular';
    margin-left: 8px;
    margin-right: 8px;
}
.wrapper button:hover {
  background: #232323;
}
.wrapper button:active, .wrapper button:focus {
  outline: none;
  color: white !important;
}

.notifcheckbox{
    display: inline-block;
}

.signupcover .wrapper{
    background: #ffffff;
    margin-top: 80px;
    border-radius: 12px;
}
.signtitle{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
}
.signtitle h3{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: 'Poppins-Medium';
    font-size: 28px;
}

.signupiner{
    display: inline-block;
    width: 100%;
    padding: 25px;
}
.signupiner .form-group{
    display: inline-block;
    width: 100%;
}
.signupiner .form-group label{
    width: 100%;
    font-family: 'Poppins-Medium';
    font-size: 17px;
    color: #000000;
    font-weight: normal;
}
.signupiner .form-group input{
  width: 100%;
  font-family: 'Poppins-Regular';
  font-size: 17px;
  color: #000000;
  box-shadow: inherit;
  border: 1px solid #a3a3a3;
  height: 36px;
}
.signupiner .form-group textarea{
  width: 100%;
  font-family: 'Poppins-Regular';
  font-size: 17px;
  color: #000000;
  box-shadow: inherit;
  border: 1px solid #a3a3a3;
  height: 70px;
  resize: none;
}
.signupiner .form-group .invalid-feedback strong{
      color: #ff0000;
    font-size: 15px;
    width: 100%;
    font-family: 'Poppins-Regular';
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.signupiner label.error{
      color: #ff0000;
    font-size: 15px;
    width: 100%;
    font-family: 'Poppins-Regular';
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.btnsetboxnps{
    text-align: center;
}
.btnsetboxnps .table-cell{
    display: inline-block;
}




.rememberbox{
  display: inline-block;
  width: 100%;
  padding-left: 0;
}
.rememberbox .custom_checkbox .control{
  margin-bottom: 0;
}
.signiupbtn{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.signiupbtn a{
  display: inline-block;
  font-family: 'Poppins-Medium';
  font-size: 17px;
  color: #000000;
  font-weight: normal;
}

.btnsetboxnps .btn.focus, .btnsetboxnps .btn:focus, .btnsetboxnps .btn:hover {
    color: #ffffff !important;
    text-decoration: none;
}


.select2-container{
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 36px !important;
  font-family: 'Poppins-Regular' !important;
  font-size: 17px !important;
  color: #000000 !important;
}
.select2-container .select2-selection--single{
  height: 36px !important;
  border: 1px solid #a3a3a3 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px !important;
  right: 4px !important;

}
.select2-results__option{
  font-family: 'Poppins-Medium' !important;
  font-size: 15px !important;
}


/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











